:root{
    --widht: 100px;
    --height: 100px;
    --background-color:#011212;
    --background-color-ball: #ff8800;
    --border-radius: 50px;
}


body {
    background-color: var(--background-color);
}

.ball {
    width: var(--widht);
    height: var(--height);
    background-color:var(--background-color-ball);
    border-radius: var(--border-radius);
}
